__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.dylib

.blogic/
.venv/
.xcode-derived/

.ipynb_checkpoints/
.DS_Store

data/raw/*
!data/raw/.gitkeep
data/interim/*
!data/interim/.gitkeep
data/processed/*
!data/processed/.gitkeep

outputs/*
!outputs/.gitkeep

models/*
!models/.gitkeep
